# terra wallet mnemonic key
MNEMONIC=
# mainnet || testnet || local
NETWORK=
# deployer marketplace account
AUCTION_ADDR=
# main nft for the marketplace
NFT_ADDR=
#
AUCTION_MAINNET_CODE_ID=1218
#
AUCTION_TESTNET_CODE_ID=7946
